<div *ngIf="meal" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img class="form-img" src="/assets/img/cutlery.svg">
  <span class="form-title">Trouver une autre phrase</span>

  <div class="meal" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <span class="form-title meal-title background-blue" fxFlex>{{meal.getTypeName()}} du {{meal.date | date:'dd/MM/yyyy'}}</span>

    <div class="meal-body" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div class="recipe-header" fxLayout="row" fxLayoutAlign="center center">
        <span class="background-blue recipe-type">Entrée</span>
        <span class="recipe-name">{{meal.starter.name}}</span>
      </div>
      <button *ngIf="!viewOnly" mat-button type="button" (click)="replaceStarter()">Chercher une autre entrée</button>
      <button *ngIf="viewOnly" mat-button type="button" (click)="goToDetails('starter', meal.starter.id)">Voir la recette</button>

      <div class="recipe-header" fxLayout="row" fxLayoutAlign="center center">
        <span class="background-blue recipe-type">Plat</span>
        <span class="recipe-name">{{meal.dish.name}}</span>
      </div>
      <button *ngIf="!viewOnly" mat-button type="button" (click)="replaceDish()">Chercher un autre plat</button>
      <button *ngIf="viewOnly" mat-button type="button" (click)="goToDetails('dish', meal.dish.id)">Voir la recette</button>
    </div>
  </div>
</div>