<div *ngIf="!meal" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img class="form-img" src="/assets/img/cutlery.svg">
  <span class="form-title">Repas prévus pour la semaine du {{dates[0] | date:'dd/MM/yyyy'}} au {{dates[6] | date:'dd/MM/yyyy'}}</span>
  <span>En cliquant sur un repas pour aurez la possibilité d'en modifier l'entrée ou le plat</span>

  <div class="meals-calendar" fxLayout="column">
    <div class="meals-type" fxLayout="row">
      <div fxFlexOffset="120px" fxFlex="50">Déjeuner</div>
      <div fxFlex="50">Dîner</div>
    </div>
    <div class="meals-week">
      <div *ngFor="let date of dates" class="row" fxLayout="row">
        <div fxFlex="120px">{{date | date:'EEE dd/LL'}}</div>
        <ng-container [ngTemplateOutlet]="meal" [ngTemplateOutletContext]="{meal: getLunch(date)}"></ng-container>
        <ng-container [ngTemplateOutlet]="meal" [ngTemplateOutletContext]="{meal: getDinner(date)}"></ng-container>
        <ng-template #meal let-meal="meal">
          <div class="meals-cell" (click)="viewMeal(meal)" fxFlex="50">
            <ng-container *ngIf="meal">
              <a [routerLink]="['/elderly', meal.elderlyId, 'meal', meal.id]" [queryParams]="{standalone: standalone, startDate: startDate.getTime(), endDate : endDate.getTime(), edit: true}">
                <span>
                  <strong>Entrée :</strong> {{meal.starter.name}}
                </span>
                <br>
                <span>
                  <strong>Plat:</strong> {{meal.dish.name}}
                </span>
              </a>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <button mat-button type="button" (click)="goToShoppingList()">Accéder à la liste de courses</button>
</div>