<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img class="form-img" src="/assets/img/user.svg">
  <span class="form-title">Repas prévus</span>

  <div fxFlexFill class="meals-calendar">
    <div class="header" fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex="40%" fxLayoutAlign="center">Déjeuner</div>
      <div fxFlex="40%" fxLayoutAlign="center">Dîner</div>
    </div>
    <div class="body" fxLayout="column">
      <div *ngFor="let date of dates" class="row" fxLayout="row">
        <div fxFlex="20%">{{date | date:'EEE dd/LL'}}</div>
        <!-- TODO starters & dishes -->
      </div>
    </div>
  </div>

  <button mat-button type="button" >Valider</button>
</div>