<div *ngIf="!meal" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img class="form-img" src="/assets/img/cutlery.svg">
  <span class="form-title">Repas prévus pour la semaine du {{dates[0] | date:'dd/MM/yyyy'}} au {{dates[6] | date:'dd/MM/yyyy'}}</span>

  <div class="meals-calendar" fxLayout="column">
    <div class="meals-type">
      <div class="second-column">Déjeuner</div>
      <div class="third-column">Dîner</div>
    </div>
    <div class="meals-week">
      <div *ngFor="let date of dates" class="row">
        <div class="first-column">{{date | date:'EEE dd/LL'}}</div>
        <ng-container [ngTemplateOutlet]="meal" [ngTemplateOutletContext]="{meal: getLunch(date)}"></ng-container>
        <ng-container [ngTemplateOutlet]="meal" [ngTemplateOutletContext]="{meal: getDinner(date)}"></ng-container>
        <ng-template #meal let-meal="meal">
          <div [ngClass]="{'second-column': meal?.isLunch(), 'third-column': meal?.isDinner()}" class="meals-cell second-column" (click)="viewMeal(meal)">
            <ng-container *ngIf="meal">
              <span><strong>Entrée :</strong> {{meal.starter.name}}</span>
              <br>
              <span><strong>Plat:</strong> {{meal.dish.name}}</span>
            </ng-container>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <button mat-button type="button" (click)="goToShoppingList()">Accéder à la liste de courses</button>
</div>

<app-elderly-meal *ngIf="meal" [meal]="meal" [startDate]="startDate" [endDate]="endDate" (closeMeal)="closeMeal($event)"></app-elderly-meal>