<form [formGroup]="profileForm" (ngSubmit)="submitForm(profileForm.value)" fxLayout="column" fxLayoutAlign="center center"
  class="profile-form">

  <div fxLayoutAlign="center center">
    <h3>Je renseigne mon profil</h3>
  </div>

  <mat-form-field>
    <input matInput type="text" formControlName="firstname" maxlength="50" placeholder="Prénom">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="lastname" maxlength="50" placeholder="Nom">
  </mat-form-field>

  <mat-form-field>
    <input matInput autocomplete="new-password" [matDatepicker]="birthPicker" [max]="today" formControlName="birthdate" placeholder="Date de naissance">
    <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
    <mat-datepicker #birthPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="address" maxlength="100" placeholder="Adresse">
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="40px">
    <mat-form-field fxFlex="25">
      <input matInput type="text" formControlName="postalCode" maxlength="5" placeholder="Code postal">
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput type="text" formControlName="city" maxlength="50" placeholder="Ville">
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput type="text" formControlName="phone" maxlength="10" placeholder="Téléphone">
  </mat-form-field>

  <button mat-button type="submit" [disabled]="profileForm.invalid">Valider</button>
</form>