/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html, body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

/* ----- Buttons look & feel ----- */

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    color: white;
    border-radius: 5px;
}

.mat-calendar-period-button {
    color: inherit;
}

/* Buttons color in header */
.header button:not([disabled]) {
    background-color: #5ab5e2;
}

/* Buttons color in main content */
.main-content button:not([disabled]) {
    background-color: #83C8B6;
}

/* Specific buttons color */

button.background-green:not([disabled]) {
    background-color: #83C8B6;
}

button.background-orange:not([disabled]) {
    background-color: #FBBE5F;
}

button.background-red:not([disabled]) {
    background-color: #ED6A7A;
}

/* ----- END Buttons look & feel ----- */

/* ----- Colors & background ----- */

.background-green {
    background-color: #83C8B6;
}

.background-orange {
    background-color: #FBBE5F;
}

.background-red {
    background-color: #ED6A7A;
}

.color-green {
    color: #83C8B6;
}

.color-orange {
    color: #FBBE5F;
}

.color-red {
    color: #ED6A7A;
}

/* ----- Colors & background ----- */

/* ----- Forms ----- */

form.profile-form {
    height: 100%;
    padding: 0 40px;
}

form.profile-form>*:not(button) {
    width: 100%;
}

.form-info {
    height: 100%;
    padding: 0 10%;
}

.form-info-content {
    background-color: white;
    border-radius: 20px;
    font-size: 1.1rem;
}

.form-info-content>* {
    margin: 20px !important;
}

.form-img {
    width: 200px;
}

.form-title {
    font-size: 1.2rem;
    font-weight: bold;
}

/* ----- END Forms ----- */

/* ----- Meals calendar ----- */

app-meals-calendar .mat-form-field-infix {
    margin-left: 10px;
    width: 90px;
}

.meals-calendar {
    padding: 20px;
    color: white;
}

.meals-calendar .meals-type div, .meals-calendar .meals-week .row div:first-child {
    background: #5ab5e2;
    border-bottom: 1px solid white;
    padding: 5px;
}

.meals-calendar .meals-type div:first-child {
    border-top-left-radius: 10px;
    border-right: 1px solid white;
}

.meals-calendar .meals-type div:last-child {
    border-top-right-radius: 10px;
}

.meals-calendar .meals-week .row div:first-child {
    border-right: 1px solid white;
}

.meals-calendar .meals-week .row:first-child div:first-child {
    border-top-left-radius: 10px;
}

.meals-calendar .meals-week .row:last-child div:first-child {
    border-bottom-left-radius: 10px;
}

.meals-calendar .meals-week .row div:not(:first-child) {
    background: white;
    border-bottom: 1px solid #83C8B6;
    border-right: 1px solid #83C8B6;
}

.meals-calendar .meals-week .row div:last-child {
    border-right: none;
}

.meals-calendar .meals-week .row:last-child div:not(:first-child) {
    border-bottom: none;
}

.meals-calendar .meals-week .row .material-icons {
    color: #83C8B6;
}

/* ----- END Meals calendar ----- */