/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html, body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.clickable {
    cursor: pointer;
}

/* ----- Buttons look & feel ----- */

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    color: white;
    border-radius: 5px;
}

/* Buttons color in header */
.header .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    background-color: #5ab5e2;
}

/* Buttons color in main content */
.main-content .mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    background-color: #83C8B6;
}

/* ----- END Buttons look & feel ----- */

/* ----- Colors & background ----- */

.background-green {
    background-color: #83C8B6 !important;
}

.background-orange {
    background-color: #FBBE5F !important;
}

.background-red {
    background-color: #ED6A7A !important;
}

.color-green {
    color: #83C8B6;
}

.color-orange {
    color: #FBBE5F;
}

.color-red {
    color: #ED6A7A;
}

/* ----- Colors & background ----- */

/* ----- Forms ----- */

form.profile-form {
    height: 100%;
    padding: 0 40px;
}

form.profile-form>*:not(button) {
    width: 100%;
}

.form-info {
    height: 100%;
    padding: 0 10%;
}

.form-info-content {
    background-color: white;
    border-radius: 20px;
    font-size: 1.1rem;
}

.form-info-content>* {
    margin: 20px !important;
}

.form-img {
    width: 200px;
}

.form-title {
    font-size: 1.2rem;
    font-weight: bold;
}

/* ----- END Forms ----- */
