/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}

html, body, .main-content {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
    background-color: #5ab5e2;
    color: white;
    border-radius: 5px;
}