<div *ngIf="!isConnected()" class="home-off" fxLayoutAlign="center center">
  <form [formGroup]="authenticationForm" (ngSubmit)="submitForm(authenticationForm.value)" fxLayout="column">

    <mat-form-field>
      <input matInput type="text" autocomplete="email" formControlName="email" max="50" placeholder="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" autocomplete="new-password" formControlName="password" max="20" placeholder="password">
    </mat-form-field>

    <small *ngIf="badCredentials" class="credential-error color-red">Identifiants incorrects</small>

    <button mat-button type="submit" [disabled]="authenticationForm.invalid">Connexion</button>
  </form>
</div>

<div *ngIf="isConnected()" class="home-off" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="40px">

  <div class="search-bar" fxLayout="row" fxLayoutAlign="center center">
    <input type="text" placeholder="Rechercher un profil" (keyup)="search()" [(ngModel)]="searchString">
    <i class="material-icons clickable">search</i>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <img class="form-img" src="/assets/img/profile.svg">
    <span class="form-title">Les profils</span>
  </div>

  <app-elderly-list [elderlies]="elderlies" class="elderlies-list"></app-elderly-list>

  <a routerLink="/elderly">
    <button mat-button type="button">
      <mat-icon>add</mat-icon>
      Créer un nouveau profil
    </button>
  </a>
</div>