<!-- Info before the form -->
<div *ngIf="showInfo" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="form-info">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <!-- TODO img -->
    <!-- <img class="form-img" src="/assets/img/cooking.svg"> -->

    <span class="form-title">Bonjour {{elderly.firstname}} !</span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="form-info-content">
    <span>Afin de vous préparer les meilleurs repas possibles, nous allons choisir ensemble vos préférences alimentaires.</span>

    <button mat-button type="button" (click)="showInfo = false">D'accord</button>
  </div>
</div>

<!-- The form -->
<form *ngIf="showInfo === false && !showInfoConfirm" [formGroup]="profileFoodForm" (ngSubmit)="submitForm(profileFoodForm.value)"
  fxLayout="column" fxLayoutAlign="center center" class="profile-form">

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <span class="form-title">Préférences alimentaires</span>
  </div>

  <mat-form-field>
    <input matInput type="text" formControlName="allergies" maxlength="100" placeholder="Allergies">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="restrictions" maxlength="100" placeholder="Restrictions alimentaires">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="likes" maxlength="100" placeholder="J'adore">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="dislikes" maxlength="100" placeholder="Je déteste">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="habits" maxlength="100" placeholder="Habitudes de repas (horaires, en-cas, ...)">
  </mat-form-field>

  <button mat-button type="submit" [disabled]="profileFoodForm.invalid">Valider</button>
</form>

<!-- Info after the form -->
<div *ngIf="showInfoConfirm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="form-info">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <!-- TODO img -->
    <!-- <img class="form-img" src="/assets/img/cooking.svg"> -->

    <span class="form-title">Merci {{elderly.firstname}} !</span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="form-info-content">
    <span>Nous avons bien noté vos préférences !</span>

    <a [routerLink]="['/elderly', elderly.id, 'cookingImplication']">
      <button mat-button type="button">D'accord</button>
    </a>
  </div>
</div>