<div style="max-width: 100%; text-align: center">
	<img style="margin-bottom: 20px; width:200px;" src="cid:notepad_image">
	<table style="margin-bottom: 20px;width: 100%;padding: 20px;">
		<caption>Votre liste de courses</caption>
		<tr style="max-height: 100%;color: white;">
			<th style="max-width: 60%;background: #5ab5e2;border-bottom: 1px solid white;padding: 5px;border-top-left-radius: 10px;border-right: 1px solid white;border-top-right-radius: 10px;">Ingrédient</div>
			<th style="max-width: 40%;background: #5ab5e2;border-bottom: 1px solid white;padding: 5px;border-top-left-radius: 10px;border-right: 1px solid white;border-top-right-radius: 10px;">Quantité</div>
		</tr>

		<% for(let ingredient of ingredients) { %>
		<tr>
			<td style="max-width: 60%;background: white;border-bottom: 1px solid #83C8B6;border-right: 1px solid #83C8B6;border-left: 1px solid #83C8B6;">
				<span><%= ingredient.name %></span>
			</td>
			<td style="max-width: 40%;background: white;border-bottom: 1px solid #83C8B6;border-right: 1px solid #83C8B6;border-left: 1px solid #83C8B6;">
				<div style="max-width: 60%;">
					<span><%= ingredient.quantity + (ingredient.unit ? " " + ingredient.unit : ""); %></span>
				</div>
			</td>
		</tr>
		<% } %>
	</table>
</div>