<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img fxFlexAlign="center" class="form-img" src="/assets/img/notepad.svg">
  <span class="form-title">Votre liste de courses</span>

  <div class="shopping-list" fxLayout="column">
    <div class="shopping-list-header" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="60" fxLayoutAlign="center center">Ingrédient</div>
      <div fxFlex="40" fxLayoutAlign="center center">Quantité</div>
    </div>
    <div class="shopping-list-body" fxLayout="column">
      <div *ngFor="let ingredient of shoppingList.ingredients" class="row" fxLayout="row">
        <div fxFlex="60" fxLayoutAlign="start center">
          <span>{{ingredient.name}}</span>
        </div>
        <div fxFlex="40" fxLayoutAlign="center center" fxLayout="row">
          <div fxFlex="60" fxLayoutAlign="center center">
            <span>{{ingredient.quantity}} {{ingredient.unit}}</span>
          </div>
          <div fxFlex="40" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-mini-fab type="button" class="background-green" (click)="editQuantity(ingredient)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab type="button" class="background-red" (click)="removeIngredient(ingredient)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button mat-button type="button">Valider</button>
</div>