<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <button *ngIf="doReturn" mat-button class="background-blue" (click)="doReturn()">
      <mat-icon>keyboard_arrow_left</mat-icon>
      Retour
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <a *ngIf="showProfile" [routerLink]="['/elderly', elderlyId]">
      <button mat-mini-fab class="no-shadow">
        <mat-icon>person</mat-icon>
      </button>
    </a>
    <a *ngIf="showHome" routerLink="/home">
      <button mat-mini-fab class="no-shadow">
        <mat-icon>home</mat-icon>
      </button>
    </a>
  </div>
</div>