:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 40px;
    min-height: 40px;
    margin: 40px 40px 0 40px;
}

.main-content {
    display: flex;
    height: calc(100% - 40px - 80px);
    margin: 0 40px 40px 40px;
}