<!-- The form -->
<div *ngIf="!showInfoConfirm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="form-info">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <img class="form-img" src="/assets/img/cooking.svg">

    <span class="form-title">Ce que je peux faire</span>
  </div>

  <div class="skills" fxLayout="row wrap">
    <div class="background-green skill clickable" *ngFor="let skill of elderly.skills" fxLayout="row" fxLayoutAlign="center center"
      (click)="removeSkill(skill)">
      <span>{{skill.label}}</span>
      <i class="material-icons">close</i>
    </div>
    <div class="color-green skill-available clickable" *ngFor="let skill of skills" fxLayout="row" fxLayoutAlign="center center"
      (click)="addSkill(skill)">
      <span>{{skill.label}}</span>
      <i class="material-icons">add</i>
    </div>
  </div>

  <ng-container *ngIf="standalone">
    <a [routerLink]="['/elderly', elderly.id]" [queryParams]="{showSkills: true}">
      <button mat-button type="button">Valider</button>
    </a>
  </ng-container>
  <ng-container *ngIf="!standalone">
    <button mat-button type="button" (click)="showInfoConfirm = true">Valider</button>
  </ng-container>
</div>

<!-- Info after the form -->
<div *ngIf="showInfoConfirm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px" class="form-info">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <img class="form-img" src="/assets/img/cooking.svg">

    <span class="form-title">Merci !</span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="form-info-content">
    <span>Comptez sur nous pour vous impliquer dans la préparation des repas !</span>

    <!-- TODO redirect to "How many of your close family go shopping for you ?"" -->
    <a [routerLink]="['/home']">
      <button mat-button type="button">D'accord</button>
    </a>
  </div>
</div>