.elderly {
    background-color: white;
    padding: 15px;
}

.elderly:not(:last-child) {
    border-bottom: 1px solid black;
}

.elderly>.elderly-buttons .mat-icon {
    color: white;
}

.elderly>a {
    line-height: 40px;
}