<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <span fxFlex fxFlexOffset="10" fxLayoutAlign="center center"><strong>{{ data.title || 'Confirmation' }}</strong></span>
  <mat-icon fxFlex="10"class="clickable" (click)="onCancelClick()">close</mat-icon>
</div>
<div mat-dialog-content>
  <p>{{ data.body }}</p>
</div>
<div mat-dialog-actions fxLayoutAlign="space-around center">
  <button [hidden]="hideCancel" mat-button class="background-red" (click)="onCancelClick()">{{ data.cancelMessage || 'Annuler' }}</button>
  <button mat-button class="background-green" (click)="onOkClick()">{{ data.okMessage || 'Oui' }}</button>
</div>