<form [formGroup]="caregiverForm" (ngSubmit)="submitForm(caregiverForm.value)" fxLayout="column" fxLayoutAlign="center center"
  class="profile-form">

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <img class="form-img" src="/assets/img/handshake.png">
    <span class="form-title">Proche</span>
  </div>

  <mat-form-field>
    <input matInput type="text" autocomplete="new-password" formControlName="firstname" maxlength="50" placeholder="Prénom">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" autocomplete="new-password" formControlName="lastname" maxlength="50" placeholder="Nom">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" autocomplete="new-password" formControlName="email" maxlength="100" placeholder="Adresse mail">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" autocomplete="new-password" formControlName="address" maxlength="100" placeholder="Adresse">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" autocomplete="new-password" formControlName="postalCode" maxlength="5" placeholder="Code postal">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" autocomplete="new-password" formControlName="phone" maxlength="20" placeholder="Téléphone">
  </mat-form-field>

  <button mat-button type="submit" [disabled]="caregiverForm.invalid">Valider</button>
</form>