.meals-calendar {
    padding: 20px;
    color: white;
}

.meals-calendar .header div, .meals-calendar .body .row div:first-child {
    background: #5ab5e2;
    border-bottom: 1px solid white;
    padding: 5px;
}

.meals-calendar .header div:first-child {
    border-top-left-radius: 10px;
    border-right: 1px solid white;
}
.meals-calendar .header div:last-child {
    border-top-right-radius: 10px;
}

.meals-calendar .body .row div:first-child {
    border-right: 1px solid white;
}
.meals-calendar .body .row:first-child div:first-child {
    border-top-left-radius: 10px;
}
.meals-calendar .body .row:last-child div:first-child {
    border-bottom-left-radius: 10px;
}

.body .row div:not(:first-child) {
    background: white;
    border-bottom: 1px solid #83C8B6;
    border-right: 1px solid #83C8B6;
}
.body .row div:last-child {
    border-right: none;
}
.body .row:last-child div:not(:first-child) {
    border-bottom: none;
}
.body .row .material-icons {
    color: #83C8B6;
}
