<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
  <img class="form-img" src="/assets/img/user.svg">
  <span class="form-title">Séléctionnez les repas à prévoir pour cette semaine</span>
</div>
<div>
  <div class="meals-calendar">
    <div class="header" fxLayout="row" fxLayoutAlign="end center">
      <div fxFlex="40%" fxLayoutAlign="center">Déjeuner</div>
      <div fxFlex="40%" fxLayoutAlign="center">Dîner</div>
    </div>
    <div class="body" fxLayout="column">
      <div *ngFor="let meals of mealsList" class="row" fxLayout="row">
        <div fxFlex="20%">{{meals[0].date | date:'EEE dd/LL'}}</div>
        <div fxFlex="40%" class="clickable" fxLayoutAlign="center center">
          <i *ngIf="meals[0].isLunch() || meals[1] && meals[1].isLunch()" class="material-icons">check</i>
        </div>
        <div fxFlex="40%" class="clickable" fxLayoutAlign="center center">
          <i *ngIf="meals[0].isDinner() || meals[1] && meals[1].isDinner()" class="material-icons">check</i>
        </div>
      </div>
    </div>
    <div class="footer">

    </div>
  </div>
</div>