.meals-type>div {
    text-align: center;
}

.meals-week {
    overflow-y: auto;
}

.meals-week>.row>div:not(:first-child) {
    text-align: center;
}

::ng-deep .datepicker .mat-icon-button {
    width: 2.3em ! important;
    height: 2.3em ! important;
}