<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
  <img class="form-img" src="/assets/img/calendar.svg">
  <span class="form-title">Séléctionnez les repas à prévoir sur la période choisie</span>

  <div class="meals-calendar" fxLayout="column">
    <div class="meals-type" fxLayout="row">
      <div fxFlexOffset="120px" fxFlex="50">Déjeuner</div>
      <div fxFlex="50">Dîner</div>
    </div>
    <div class="meals-week">
      <div *ngFor="let date of dates" class="row" fxLayout="row">
        <div fxFlex="120px">{{date | date:'EEE dd/LL'}}</div>
        <div class="clickable" (click)="toggleLunch(date)" fxFlex="50">
          <i *ngIf="getLunch(date)" class="material-icons">check</i>
        </div>
        <div class="clickable" (click)="toggleDinner(date)" fxFlex="50">
          <i *ngIf="getDinner(date)" class="material-icons">check</i>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <span>Jusqu'à quelle date souhaitez-vous préparer vos repas ?</span>
    <mat-form-field>
      <input matInput [matDatepicker]="endDate" [min]="minDate" [value]="endDate" (dateChange)="setEndDate($event)" disabled>
      <mat-datepicker-toggle class="datepicker" matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>

  <button mat-button type="button" (click)="initMeals()">Valider</button>
</div>