<div fxLayout="column" fxLayoutGap="30px" class="elderly-profile">
  <img fxFlexAlign="center" class="form-img" src="/assets/img/profile.svg">
  <h2 fxFlexAlign="center">{{elderly.firstname}} {{elderly.lastname | uppercase}}</h2>

  <div fxLayout="column" class="sections">
    <div fxLayout="column" class="section">
      <span class="section-title">Profil</span>
      <mat-accordion>
        <!-- Identity -->
        <ng-container [ngTemplateOutlet]="panel" [ngTemplateOutletContext]="{expanded: showIdentity, title: 'Carte d\'identité', content: identity, editPage: 'edit'}"></ng-container>
        <!-- Prefered food -->
        <ng-container [ngTemplateOutlet]="panel" [ngTemplateOutletContext]="{expanded: showFood, title: 'Préférences alimentaires', content: food, editPage: 'food'}"></ng-container>
        <!-- Skills section -->
        <ng-container [ngTemplateOutlet]="panel" [ngTemplateOutletContext]="{expanded: showSkills, title: 'Compétences culinaires', content: skills, editPage: 'skills'}"></ng-container>

        <!-- Panel template -->
        <ng-template #panel let-expanded="expanded" let-title="title" let-content="content" let-editPage="editPage">
          <mat-expansion-panel [expanded]="expanded">
            <mat-expansion-panel-header>
              <mat-panel-title>{{title}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" class="section-content">
              <div fxFlex fxLayout="column">
                <ng-container [ngTemplateOutlet]="content" [ngTemplateOutletContext]="{elderly: elderly}"></ng-container>
              </div>
              <a [routerLink]="['/elderly', elderly.id, editPage]" [queryParams]="{standalone: true}">
                <button mat-button type="button">
                  <mat-icon>edit</mat-icon>
                  Modifier
                </button>
              </a>
            </div>
          </mat-expansion-panel>
        </ng-template>
      </mat-accordion>
    </div>
    <div fxLayout="column" class="section">
      <span class="section-title">Aujourd'hui {{today | date:'dd/MM/yyyy'}}</span>
      <div fxLayout="column" class="week-section">
        <span *ngIf="todaysMeals && todaysMeals.length > 0; else noMeal">
          Vous avez {{todaysMeals.length}} repas planifié(s) aujourd'hui
        </span>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <div *ngFor="let meal of todaysMeals" class="menu-button background-blue clickable" fxLayout="column" fxLayoutAlign="center center"
            (click)="displayMeal(meal)">
            <img class="form-img" src="/assets/img/cutlery_white.svg">
            <span>Voir le {{meal.getTypeName()}}</span>
          </div>
          <ng-template #noMeal>
            <span>Vous n'avez pas de repas planifié aujourd'hui</span>
          </ng-template>
        </div>
      </div>
    </div>
    <div fxLayout="column" class="section">
      <span class="section-title">Période du {{startDate | date:'dd/MM/yyyy'}} au {{endDate | date:'dd/MM/yyyy'}}</span>
      <div fxLayout="column" fxLayoutAlign="center center" class="week-section background-blue-light" fxLayoutGap="10px">
        <a [routerLink]="['/elderly', elderly.id, 'meals-calendar']">
          <button class="background-blue" mat-button type="button">Planifier la semaine</button>
        </a>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
          <a [routerLink]="['/elderly', elderly.id, 'mealsCalendarContent']" [queryParams]="{standalone: true, startDate: this.startDate.getTime(), endDate: this.endDate.getTime()}">
            <div class="menu-button background-blue clickable" fxLayout="column" fxLayoutAlign="center center">
              <img class="form-img" src="/assets/img/cutlery_white.svg">
              <span>Voir les menus</span>
            </div>
          </a>
          <a [routerLink]="['/elderly', elderly.id, 'shopping-list']" [queryParams]="{standalone: true}">
            <div class="list-button background-blue clickable" fxLayout="column" fxLayoutAlign="center center">
              <img class="form-img" src="/assets/img/notepad_white.svg">
              <span>Voir la liste de courses</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Identity template, to be injected in panel  -->
<ng-template #identity let-elderly="elderly">
  <span>
    <strong>{{elderly.firstname}} {{elderly.lastname | uppercase}}</strong>
  </span>
  <span>Né(e) le {{(elderly.birthdate | date:'dd MMMM yyyy') || '??'}} ({{(elderly.birthdate | dateDiff:'':'years') || '??'}}
    ans)
  </span>
  <span>{{elderly.address}}</span>
  <span>{{elderly.postalCode}} {{elderly.city}}</span>
  <span>{{elderly.phone}}</span>
</ng-template>

<!-- Food template, to be injected in panel -->
<ng-template #food let-elderly="elderly">
  <span>
    <strong>Allergies :</strong> {{elderly.allergies}}
  </span>
  <span>
    <strong>Restrictions alimentaires :</strong> {{elderly.restrictions}}
  </span>
  <span>
    <strong>Adore :</strong> {{elderly.likes}}
  </span>
  <span>
    <strong>Déteste :</strong> {{elderly.dislikes}}
  </span>
  <span>
    <strong>Habitudes de repas :</strong> {{elderly.habits}}
  </span>
</ng-template>

<ng-template #skills let-elderly="elderly">
  <span>
    <strong>{{elderly.firstname}} peut :</strong>
  </span>
  <div fxLayout="row wrap" fxLayoutGap="10px">
    <span *ngFor="let skill of elderly.skills" class="elderly-skill">{{skill.label}}</span>
  </div>
</ng-template>

<app-elderly-meal *ngIf="meal || showMeal" [viewOnly]="true" [meal]="meal" (closeMeal)="closeMeal($event)"></app-elderly-meal>