<div fxLayout="column" fxLayoutGap="30px" class="elderly-profile">
  <h2 fxFlexAlign="center">{{elderly.firstname}} {{elderly.lastname | uppercase}}</h2>

  <div fxLayout="column" class="sections">
    <div fxLayout="column" class="section">
      <span class="section-title">Profil</span>
      <mat-accordion>
        <!-- Identity section -->
        <mat-expansion-panel [expanded]="showIdentity">
          <mat-expansion-panel-header>
            <mat-panel-title>Carte d'identité</mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" class="section-content">
            <div fxFlex fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="column">
                <span>
                  <strong>{{elderly.firstname}} {{elderly.lastname | uppercase}}</strong>
                </span>
                <span>Né(e) le {{(elderly.birthdate | date:'dd MMMM yyyy') || '??'}} ({{(elderly.birthdate | dateDiff:'':'years')
                  || '??'}} ans)</span>
                <span>{{elderly.address}}</span>
                <span>{{elderly.postalCode}} {{elderly.city}}</span>
                <span>{{elderly.phone}}</span>
              </div>
              <div fxLayout="column">
                <!-- <span><strong>Taille : </strong>{{elderly.size || '??'}} cm</span> -->
                <!-- <span><strong>Poids : </strong>{{elderly.weight || '??'}} kg</span> -->
              </div>
            </div>
            <a [routerLink]="['/elderly', elderly.id, 'edit']" [queryParams]="{standalone: true}">
              <button mat-button type="button">
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
            </a>
          </div>
        </mat-expansion-panel>
        <!-- Prefered food section -->
        <mat-expansion-panel [expanded]="showFood">
          <mat-expansion-panel-header>
            <mat-panel-title>Préférences alimentaires</mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="row" class="section-content">
            <div fxFlex fxLayout="column" fxLayoutGap="20px">
              <div fxLayout="column">
                <span>
                  <strong>Allergies :</strong> {{elderly.allergies}}
                </span>
                <span>
                  <strong>Restrictions alimentaires :</strong> {{elderly.restrictions}}
                </span>
                <span>
                  <strong>Adore :</strong> {{elderly.likes}}
                </span>
                <span>
                  <strong>Déteste :</strong> {{elderly.dislikes}}
                </span>
                <span>
                  <strong>Habitudes de repas :</strong> {{elderly.habits}}
                </span>
              </div>
            </div>
            <a [routerLink]="['/elderly', elderly.id, 'food']" [queryParams]="{standalone: true}">
              <button mat-button type="button">
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>